html, body {
    margin: 0;
    padding: 0;
}
.myColDay{
    float: left;
    width: 13%;
    margin: 0;
    padding: 0;
}
.myColH{
    float: left;
    width: 9%;
    margin: 0;
    padding: 0;
    
}
.uhm{
    float: right;
}
.timeslot{
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 1%;
}
.hdisp{
    margin: 0;
     margin-top: 4.7%;
    padding: 0;
    width: 100%;
}

.support{
     margin-top: 50%;
}

#thePlan{
    margin: 3%;
}

.addbar{
    background-color: #A6DCF3;
       padding: 1%;
       border-radius: 6px;
}